# Mainnet keys
BYBIT_API_KEY = 'w3GduIwcYaanPgrbWO'
BYBIT_API_SECRET = 'lW8kVJpkyybu5Jwww8VWhSM0kv8cNOol7W9g'

# Testnet keys
TESTNET_BYBIT_API_KEY = 'zVLYOh6mZ&B8TAdpRg'
TESTNET_BYBIT_API_SECRET = 'hnDWnZkIkAPYuYTRx2OLmR0jDMCJvxP0zoZt'

TELEGRAM_API_ID = '12513841'
TELEGRAM_API_HASH = 'c5ffc230d0a76c1234ddfa892bbe99b2'
TELEGRAM_PHONE = '15551212'